html {margin:0; padding: 0; height: 100%;}
body {margin:0; padding: 0; width:100% !important; height:100%; overflow:hidden;
    background: linear-gradient(to bottom, rgba(39,92,117,1) 0%,rgba(49,105,142,1) 48%,rgba(56,108,153,1) 100%);
}

/* HEADERS DATA */
h9{font-family: 'Source Sans Pro', sans-serif; font-size: 15px; font-weight:normal; line-height:1.4; text-align: center; }
h2{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; min-width: 256px; padding:10px 10px 10px 0; font-weight: 300;}
h3{font-family: 'Nobile', sans-serif; min-width: 64px; padding:10px;}
h4{font-family: 'Nobile', sans-serif; padding: 5px; font-size: 16px;}
h5{font-family: Arial, Helvetica, sans-serif; font-size:14px; padding: 2px;}

.centered {text-align: center !important;}
.inline {display: inline-block !important;}
.hidden {display: none;}
.white {color:#f8f8f8 !important;}
.black {color:#333333 !important;}
.info {font-style: italic; font-size:12px;}
.clearfix {clear:both; width:100%; height:1px;}
.main-container {background-color:#ffffff !important;}

.full-width {width:100% !important;}

.navbar {height:76px !important; padding-top:20px !important;}
.navbar-collapse {background: linear-gradient(to bottom, rgba(39,51,68,0.9) 0%,rgba(139,160,183,0.7) 100%) !important;}

.cine_nav_bg_trans {
    background: linear-gradient(to bottom, rgba(39,51,68,1) 0%,rgba(139,160,183,0.4) 100%) !important;
    border:none !important;
}

.cine_nav_bg_none {
    background: linear-gradient(to bottom, rgba(39,51,68,1) 0%,rgba(139,160,183,0) 100%) !important;
    border:none !important;
}

/* BUTTONS STYLES */

.cine_fn_simple_btn {
    position: relative; min-width: 24px; min-height: 21px; padding:5px 8px 5px 8px; margin: 0 4px 0 4px;
    color:#f8f8f8; cursor: pointer; background-color:#46b6d1; display: inline-block; font-size: 15px;
    text-align: center; overflow: hidden; border-radius: 4px; text-decoration: none; line-height:1.4;
    border: 1px solid transparent; font-family: 'Source Sans Pro', sans-serif; font-weight:normal;
}
.cine_fn_simple_btn:hover {background-color:#40b0d0 !important;}

.cine_fn_color_btn {
    position: relative !important; min-width: 96px !important; padding:6px 8px 6px 8px !important;
    border-radius: 4px !important; height: auto !important; min-height:40px;
    margin: 4px !important; border:none !important; color:#f8f8f8 !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important; background:#0c4f79 !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
}

.activeButton {
    background:rgba(0,195,167,0.9) !important;
}

.cine_btn_active {background:#009900 !important;}

.cine_side_btn {word-break:break-word;word-wrap:break-word; height:100% !important; min-width:48px !important; width:92% !important;}
.cine_short_btn {word-break:break-word;word-wrap:break-word; min-width:48px !important; width:92% !important;}

.c-btn-delete {font-size:20px; color:#f8f8f8; font-family:'Glyphicons Halflings'; font-style:normal;font-weight:normal; line-height:1; margin-top:4px;}
.c-btn-delete:before {content:"\e020";}

/* .cine_fn_color_btn:hover {background:#135b89 !important;} */
.cine_fn_color_btn_press {}


/* SELECTS */
.select-datepicker {height:35px; width:190px; font-size:20px; border:none; box-sizing: border-box; background-color:none;}
.select-timepicker {border:none; height:36px;}

.cine_fn_cbar {
    display: block; width: 100%; height: 48px; font-family: 'Source Sans Pro', sans-serif; font-weight:normal; font-size: 15px; line-height:1.4; text-align: left;
}
.cine_fn_cbar_elem {
    display: inline-block; height: 34px; padding: 14px 8px 0 8px; margin: 0; cursor: pointer;
}
.cine_fn_cbar_elem:hover {
    background-color: #396668; color: #f8f8f8;
}

/* FORMS DATA */
.cine_form_green {
    position: relative;
    width:90%;
    height: auto;
    padding-top:10px; padding-bottom: 10px;
    display: inline-block;
}

.cine_form_green label {
    width: 100%;
    font-size: 16px;
    color:rgba(0, 195, 167,0.9);
    display: inline-block;
}

.cine_form_green input {
    width: 100%;
    display: inline-block;
    border:1px solid rgba(0, 195, 167,0.9);
    border-radius:8px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    color:#888888;
    letter-spacing: -2px;
}

.cine_form_green input::-webkit-input-placeholder {font-size: 20px; color:#58D68D; padding-top:8px; letter-spacing:-1px;}

.cine_form_green textarea {
    width: 100%;
    border-radius: 6px;
    min-height: 64px;
    border: 1px solid #cccccc;
    -webkit-appearance: none;
}

.cine_fn_form_default {
    width:auto; height: auto; padding: 12px; border: 1px solid #dedede; border-radius: 8px;
    background: #f8f8f8; min-width: 32px; min-height: 32px; display: inline-block;
}
.cine_fn_form_default input {
    width: 100%; min-width: 16px; border: 1px solid #dedede; border-radius: 2px;
    height: 40px; background: #ffffff; display: block;
    margin-top:4px; font-size: 20px;
}
.cine_fn_form_default input[type="submit"], input[type="button"] {
    width:auto; padding: 6px 16px 6px 16px; height: auto; margin: 4px; display: inline-block;
    background: #396668; color:#ffffff; font-size: 15px; font-weight:normal; line-height:1.4;
    border-radius: 4px; cursor: pointer; font-family: 'Source Sans Pro', sans-serif;
}
.cine_fn_form_default select{
    width:auto; max-width: 196px; display: block; margin: 8px 0 4px 0;
}
.cine_fn_form_default textarea{
    min-height: 64px; border: 1px solid #dedede; padding:6px;
}
.cine_fn_form_default label {
    font-style: italic; font-size:12px; text-align: left; width: 100%; display: block; margin-top: 4px; color:#666666;
}
.cine_fn_form_default a {
    font-size: 12px; text-decoration: none;
}
.cine_fn_form_centerer {
    min-width:128px; width:auto; display:inline-block; margin:0 auto; min-height:64px; text-align:center; -webkit-overflow-scrolling: touch;
}

#cine_fn_login_form, #cine_fn_signup_form, #cine_fn_signup_facebook {
    text-align: center; font-family: 'Open Sans Condensed', sans-serif;
}
#cine_fn_signup_facebook a {
    display: inline-block; background: #143270; padding: 8px; color:#f8f8f8; text-decoration: none; margin:4px;
    border-radius: 2px;
}

.cine_fn_form_search {width: auto; height: auto; display: inline-block; margin: 0 auto;
    min-width: 64px; min-height: 64px; text-align: center;
}
.cine_fn_form_search input {
    height: 32px; color: #666666; font-size: 20px; border: 2px solid #ddeeff; width: 90%; margin:10px 5% 10px 5%;
}
.cine_fn_form_search h2,h3 {padding: 2px; margin: 2px;}

.cine_fn_form_search_submit {
    width:auto !important; height: auto; margin: 4px; display: inline-block;
    background: #396668; border:none !important; cursor: pointer;
    color: #f8f8f8 !important; padding: 6px 16px 6px 16px !important;
    font-size: 15px !important; font-weight:normal; line-height:1.4;
    border-radius: 4px;  font-family: 'Source Sans Pro', sans-serif;
}

/* FRAMES */
.cine_fn_whiteframe {
    border-radius: 8px; background-color: #f8f8f8; border: 4px solid #dedede;
    min-width: 64px; min-height: 64px; color: #222222;
    margin:5px; padding: 8px; display: inline-block;
}

.cine_fn_modal_default {
    position: absolute; display: none; color: #222222; width:100%;
    /*box-shadow: 1px 0 10px 1px rgba(200,200,200,0.75);*/ overflow-x:hidden; overflow-y: hidden;
}
.cine_fn_modal_centerer {
    position:relative; min-width:128px; display:inline-block; margin:0 auto; min-height:64px; text-align:center;
    background-color: #f8f8f8; overflow-x:hidden; overflow-y:scroll; -webkit-overflow-scrolling: touch; width:100% !important;
}

.cinesubmodal {background:#f8f8f8;}

.c_modal_fancy_bg {background:radial-gradient(ellipse at center center , rgba(29, 58, 71, 0.75) 0px, #13141C 80%) repeat scroll 0% 0% transparent;}

.cine_fn_domframe {width:96%; margin:5px 2% 5px 2%; padding:5px 1% 5px 1%; height:auto; clear:both;}
.cine_fn_domframe_l {background-color:#dedede; font-weight:bold; font-size:14px; width:100%; padding:4px 2% 4px 2%; text-align:left; display:inline-block; clear:both;}
.cine_fn_domframe_c {background-color:#f0f0f0; width:100%; padding:4px 2% 4px 2%; display:inline-block}

/* PAGE ELEMENTS */
.cine_fn_bg_anima{
    width:100%; height:100%; position:relative; overflow:hidden;}

.cine_fn_mp_contelem{
    width: 100%; height: 100%; position:absolute; z-index:10;}

.cine_fn_resto_list_e { height:auto; padding:5px 1% 5px 1%; position:relative; text-align:left !important;}

.cine_fn_resto_e_title {text-align: left; font-weight: bold; font-size: 16px;}
.cine_fn_resto_e_desc {font-size: 12px; font-style: italic; color:#666666; padding-top: 4px;}
.cine_fn_resto_e_dist {font-size: 13px; text-align: left; color:#555555; padding:5px 5px 5px 0;}

.cine_fn_resto_menu_b {height:40px; width:100%; color:#333333; padding-top:4px; padding-bottom:4px; text-align:left;}
.cine_fn_resto_menu_b_b {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.42857143; height:40px;
    padding:5px 8px 8px 24px; color:#f8f8f8; font-weight:300; cursor:pointer; display:inline-block;}
.cine_fn_resto_menu_b_t {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; line-height: 1.42857143; height:40px;
    padding:5px 24px 8px 8px; color:#f8f8f8; font-weight:300; cursor:pointer; display:inline-block; float: right;}
.c-btn-back {display: inline-block; font-size: 12px; font-family: 'Glyphicons Halflings';
    font-style: normal;  font-weight: 100; padding-top:5px;  line-height: 1;  margin-top: 1px;  left: 8px;  position: absolute;
}
.c-btn-back:before {content:"\e079";}
.cine_fn_resto_menu_b_t:after {clear:left;}

.cine_fn_resto_menu_e {height:auto; width:100%; background-color:#dff0d8; color:#666666; font-weight:300; border-bottom:1px solid #CCCCCC; padding-top: 16px; padding-bottom: 8px; }
.cine_fn_resto_menu_eit {text-align:left; display: inline-block; width:80%; padding:0 1% 0 1%; vertical-align:top;}
.cine_fn_resto_menu_eip {text-align:left; display: inline-block; width:16%; padding:0 1% 0 1%; vertical-align:top;}

.cine_fn_resto_menu_l {font-size:20px; padding-top:6px; height:38px; font-weight:lighter; border-bottom:1px solid #CCCCCC;}

.cine_fn_resto_menu_i_d {width:58%; padding:0 1% 0 1%; display: inline-block; vertical-align: top; overflow:hidden;}
.cine_fn_resto_menu_i_p {width:38%; padding:0 1% 0 1%; display: inline-block; vertical-align: top; overflow:hidden;}
.cine_fn_resto_menu_i_t {width:100%; display:block; text-align:left;}
.cine_fn_resto_menu_i_i {width:100%; display:block; font-style: italic; font-size:12px; text-align:left;}
.cine_fn_resto_menu_i_s {width:100%; display:block; margin-top:10px;}

.cart_fn_cartglyph { font-size: 24px; color:#f8f8f8;font-family:'Glyphicons Halflings'; font-style: normal;font-weight: normal;line-height: 1;}
.cart_fn_cartglyph:before {content:"\e116";}

.cine_fn_rol_i {width:100%;}
.cine_fn_rol_i_td {text-align: left; width:60%;}
.cine_fn_rol_i_td h5 {font-weight:normal !important;font-size:12px; margin-top:4px; padding-right:2px;}
.cine_fn_rol_i_tq {font-weight:normal !important;font-size:16px; padding:0 2px 0 2px; width:10%;}
.cine_fn_rol_i_tp {font-weight:normal !important;font-size:16px; padding:0 2px 0 2px; width:20%;}

.cine_fn_rol_i_total{width:100%;}
.cine_fn_rol_i_total_s{height:32px; text-align: left;}
.cine_fn_rol_i_total_s td h4 {padding:0 !important;}
.cine_fn_rol_i_price{text-align:right !important;}

/* HORIZONTAL BAR ITEM */
.cine_fn_hbar{ font-family: Arial, Helvetica, sans-serif;
    width:100%; background-color:#333333; height: 40px; padding:0; text-align: center;
}
.cine_fn_hbar_in{
    display:inline-block; width:100%;
}
.cine_fn_hbar_logo{display:inline-block; width:auto; height:32px; margin:4px 4px 0 4px; vertical-align: top; float: left;}

.cine_fn_hbar_menu{display:inline-block; width:auto; vertical-align: top; height:38px;}
.cine_fn_hbar_menu a {display: inline-block; vertical-align: top; margin:0 5px 0 5px; text-decoration: none;
    padding:12px 4px 10px 4px; color:#f8f8f8;}
.cine_fn_hbar_menu a:hover,.cine_fn_hbar_menu_active {background-color:#43b9ce; color:#333333; }
.cine_fn_hbar_user a img {height:32px !important;}
.cine_fn_hbar_user{display:inline-block; width:auto; height:32px; margin:4px 4px 0 4px; vertical-align:top; float: right;}
.cine_fn_hbar_user div{display: inline-block; width: auto; height: inherit;}

.cine_fn_cart {margin-right:2px; margin-top:2px; display: inline-block; float:right; width:auto;height:auto;position:relative; content:""; font-family:'Glyphicons Halflings'; font-style: normal;font-weight: normal;line-height: 1; width:32px; height:48px;}
.cine_fn_cart_active {width: 40px !important; padding: 12px 0 2px 6px; height: 48px !important; cursor:pointer; }
.cine_fn_cart_active:before {content:"\e116"; font-size: 28px; color:#f8f8f8; }

/* ENV PANELS */
.cineRoot {text-align: center; height:410px; overflow-y: scroll; -webkit-overflow-scrolling: touch;}

.cine_fn_navenv_nav {
    min-width:10%; max-width:300px; min-height:128px; border-right: 4px solid #cccccc; box-sizing: border-box;
    background-color: #343434; display: inline-block; vertical-align: top;
}

.cine_fn_navenv_view {
    width: auto;  min-height:128px; border:none;
    background-color: #FFFFFF; display: inline-block; vertical-align: top;
}

.cine_fn_navenv_nav a { text-decoration: none; color:inherit;}

.cine_fn_navenv_nav ul {margin: 0; padding: 0; width: 100%; list-style-type: none;}

.cine_fn_navenv_nav ul li {color:#dedede; margin: 0; padding: 0; width: 100%;}

.cine_fn_usermenu_info {border-bottom: 1px solid #cccccc;}

.cine_fn_usermenu_button {cursor: pointer; min-height: 18px; text-align: center;}

.cine_fn_usermenu_button div {padding:8px 0 8px 0;}

.cine_fn_usermenu_button:hover {background-color: #f8f8f8; color:#333333;}

.cine_fn_env_inline {position:relative; display:inline-block; min-width: 64px; min-height: 64px; vertical-align: top;}

.cine_fn_env_inline img {width: inherit;}


/* Specific */
.cine_fn_resto_cpanel {
    display: inline-block; width: auto; min-width: 320px; min-height: 700px; margin: 0; text-align: left;
}

.cine_fn_resto_itembox { position: relative;
    display:inline-block; width:auto; min-width:15%; min-height:128px; margin:4px 1% 4px 1%; vertical-align:top; background-color: #cd6e00;
    cursor:pointer; padding:0 1% 0 1%; color:#f8f8f8;
}

.cine_fn_resto_itembox h4,p {padding:4px; margin:4px;}

.cine_fn_resto_sidemenu {width:96%; height:auto; position:relative; margin:1%; padding:1%;}
.cine_fn_resto_sidemenu h4 {margin:4px; padding:2px;}
.cine_fn_resto_sidemenu div {display:inline-block;vertical-align:top;padding:4px 1% 4px 1%;}

.cine_fn_resto_sm_ina {
    color:#333333 !important; font-size:15px !important; width: 28%; padding:5px 1% 5px 1%; height:64px; display: inline-block;
    border:1px #dedede solid; cursor: pointer; vertical-align: top; text-align: center
}
.cine_fn_resto_sm_act {background:#396668; color:#f8f8f8! important; }

.cine_fn_resto_itemsep {
    display:inline-block; width:auto; min-width:1%; min-height:128px; margin:0 0 4px 0; vertical-align:top;
}

/* MANAGEMENT */

.cine_fn_resto_ctrl {
    margin:4px; padding: 4px; width: 100%; display: block;
}
.cine_fn_resto_ctrl_btn {

}

.cine-list-item {min-height: 48px; width: 100%; padding:12px; font-size:16px; border-bottom:1px #CCCCCC dotted; cursor:pointer; overflow:hidden; }
.cine-list-item-f {display:inline-block; vertical-align:top;}
.cine-list-item-a {background-color:#ddeeff;}
.c-list-id {float: left;}

/* USER APP ENV */
.cine_fn_userinfo {width:100%; min-height:100px;}
.cine_fn_userinfo td {min-height: 50px;}
.cine_fn_avatar_big {background:#f8f8f8;border-color:#dedede; width:96px; height: 96px; display: inline-block;}
.cine_fn_userinfo_btn {padding:10px 0 10px 0;}

/* NOTIFY */

.c_notify_layer {
    position: absolute; z-index:10001; top:0; left:0; box-sizing: border-box; width: 100%;
    text-align: left; min-height: 56px; color:#f8f8f8; padding-top:28px;
    background-color: transparent;
    background-image:linear-gradient(to bottom, rgba(41,49,66,1) 0%,rgba(51,58,86,0.9) 70%,rgba(45,52,81,0.8) 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px; line-height:1.4; font-weight: 300;
}

.c_notify_i {
    display: block; position: relative; width: 100%; height: auto; min-height: 64px;
}

.c_notify_i:after {clear:left;}

.c_notify_i_c {
    display: inline-block; width: 85%; min-height:64px; vertical-align: top; padding:10px 10px 8px 10px;
}

.c_notify_i_b {
    display:block; width:32px; min-height: 64px; vertical-align: top;
    text-align: right; position: absolute; overflow: hidden; right:10px; top:0;
}

.c_notify_b_b {
    display: inline-block; height:40px; width:32px; font-size:26px; overflow: hidden;
    background-color: transparent !important; border:none !important; line-height:0 !important; letter-spacing:0; position: relative;
}

.c_notify_b_b:after {clear: left;}


/* MENU EDITOR */
.cine_fn_cbar {
    display: block; width: 100%; height: 48px; color: #ddeeff !important; font-family: 'Source Sans Pro', sans-serif;
    font-weight:normal; font-size: 15px; line-height:1.4; text-align: left; background:#333333; padding-right:20px;
    padding-left: 8px;
}
.cine_fn_cbar_elem {
    display: inline-block; height: 34px; padding: 14px 8px 0 8px; margin: 0; margin-left:-3px; cursor: pointer; border-right:1px dotted #333333; color: #ddeeff !important;
}
.cine_fn_cbar_elem_r {
    display: inline-block; height: 34px; padding: 14px 8px 0 8px; margin: 0; cursor: pointer; border-left:1px dotted #333333; float:right; color: #ddeeff !important;
}
.cine_fn_cbar_elem a, .cine_fn_cbar_elem_r a {color: #ddeeff !important;}
.cine_fn_cbar_elem:hover,.cine_fn_cbar_elem_r:hover {
    background-color: #396668 !important; color: #f8f8f8 !important;
}
.cine_fn_resto_cpanel {
    display: inline-block; width: 100%; min-width: 320px; min-height: 400px; margin: 0; text-align: left; padding-top:5px;
}

.cine_fn_resto_itembox { position: relative;
    display:inline-block; width:19%; height:150px; margin:4px 0.5% 4px 0.5%; vertical-align:top; background-color: #cd6e00;
    cursor:pointer; padding:0 1% 0 1%; color:#f8f8f8; box-sizing: border-box;
}

.cine_fn_resto_itembox h4,p {padding:4px; margin:4px; font-family: 'Source Sans Pro',sans-serif !important; font-size: 12px !important; font-weight:normal !important; line-height:1.4 !important;}
.cine_fn_resto_itembox h4 {font-size:20px !important;}

.cine_fn_resto_sidemenu {width:96%; height:auto; position:relative; margin:1%; padding:1%;}
.cine_fn_resto_sidemenu h4 {margin:4px; padding:2px;}
.cine_fn_resto_sidemenu div {display:inline-block;vertical-align:top;padding:4px 1% 4px 1%;}

.cine_fn_resto_sm_ina {
    color:#333333 !important; font-size:14px !important; width: 20%; padding:5px 1% 5px 1%; height:56px; display: inline-block;
    border:1px #dedede solid; cursor: pointer; vertical-align: top; text-align: center; box-sizing: border-box;
}
.cine_fn_resto_sm_act {background:#396668; color:#f8f8f8! important; }

.cine_fn_resto_itemsep {
    display:inline-block; width:auto; min-width:1%; min-height:128px; margin:0 0 4px 0; vertical-align:top;
}

/* ORDERS PANE */
.cine_fn_iedit_btn {overflow:hidden !important; text-decoration:none !important; background:#0c4f79 !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
    width:48px !important; border-radius:8px; color:#ffffff; margin:4px 0 4px 0; padding:4px 8px 4px 8px; cursor:pointer; display: inline-block;
    text-align: center; float:left; height:40px; margin-top:-8px;
}
.cine_fn_iedit_cnt {width:95% !important; min-height:48px; font-size:18px !important; padding-top:12px;}

.c-list-stat{width:2%; height:40px; margin-right:2%; text-align: center;}
.c-list-id {width:10%; text-align: left;}
.c-list-date {width:50%; text-align: left;}
.c-list-price {width:30%; text-align: right;}

.black {background-color: #222222;}
.grey {background-color: #273646;}
.green {background-color: #4CC94A;}
.red {background-color: #d9534f;}
.blue {background-color: aqua;}
.yellow {background-color: gold;}
.purple {background-color: mediumvioletred;}

.cine_fn_rol_i {width:100%;}

.cine_fn_rol_i_tr {padding-bottom:5px; text-align: left !important;}
.cine_fn_rol_i_trl {padding-bottom:5px; border-bottom:1px solid #DDDDDD; text-align: left !important;}
.cine_fn_rol_i_td {text-align: left;}
.cine_fn_rol_i_td h5 {font-weight:normal !important;font-size:12px; margin-top:4px; padding-left:0;}
.cine_fn_rol_i_td h4 {font-weight:normal !important;font-size:14px; margin-top:8px; padding-left:0;}
.cine_fn_rol_i_td div {font-size:12px; font-style: italic; width: 120%;}
.cine_fn_rol_i_tq {font-weight:normal !important;font-size:16px; padding:0 2px 0 2px; width:10%;}
.cine_fn_rol_i_tq h4 {font-weight:normal !important;font-size:14px; margin-top:8px; padding-left:0;}
.cine_fn_rol_i_tp {font-weight:normal !important;font-size:16px; padding:0 2px 0 2px;}
.cine_fn_rol_i_tp h4 {font-weight:normal !important;font-size:14px; margin-top:8px; padding-left:0;}

.cine_fn_rol_i_tds {position:relative; text-align:left; width:100% !important; margin-top:2px; margin-left:10px; border-left:1px dotted #aaaaaa; color:#888888;}
.cine_fn_rol_i_tdsi {position:relative; color:#888888; display:inline-block; padding:0 4px 0 4px; width:80%;}
.cine_fn_rol_i_tdsil {position:relative; color:#888888; display:inline-block; padding:0 4px 0 4px; border-bottom:1px solid #DDDDDD; width:80%;}
.cine_fn_rol_i_tdsp {position:absolute; left:95%; top:0; color:#888888; width:32px !important;}

.cine_fn_rol_i_total {width:100%;}
.cine_fn_rol_i_total tr {width:70%; text-align: left !important;}
.cine_fn_rol_i_total_s {height:32px;}
.cine_fn_rol_i_total_s td h4 {padding:0 !important;}
.cine_fn_rol_i_price {text-align:right !important;}

/* Toggler */
.toggler {
    width:54px; height: 48px; border: none; -webkit-appearance: none; background-size:54px 48px;
}

.toggler:focus {outline: none;}

.togglerActive {
    background: url("../img/switchon.png"); background-size:54px 48px;
}

.togglerPassive {
    background: url("../img/switchoff.png"); background-size:54px 48px;
}

/* MENUBUILDER */

.cine_fn_green_btn {
    position: relative !important; min-width: 96px !important; padding:6px 8px 6px 8px !important;
    width:96%;
    border-radius: 6px !important; height: auto !important; min-height:64px;
    margin:4px !important; border:none !important; color:#FFFFFF !important; cursor:pointer; display:inline-block;
    text-align:center !important; vertical-align:top !important; overflow:hidden !important; text-decoration:none !important; background:rgba(0,195,167,0.9); !important;
    font-family: 'Source Sans Pro',sans-serif !important; font-size: 20px !important; font-weight:normal !important; line-height:1.4 !important;
}

.sideElementBlockMini {position:relative; width:20%; height:50px; padding-top:8px; display:inline-block; vertical-align:top; cursor:pointer; color:#FFFFFF; background:rgba(0,195,167,1); font-size:14px; line-height:12px;  text-align: center;}
.sideElementBlockMiniActive {position:relative; width:20%; height:50px; padding-top:8px; display:inline-block; vertical-align:top; cursor:pointer; color:#FFFFFF; background-color:rgba(255, 92, 97,0.8); font-size:14px; line-height:12px; text-align: center;}

.sideElementBlock {position:relative; width:14%; height:96px; display:inline-block; vertical-align:top; cursor:pointer; text-align:center; color:#FFFFFF; background:rgba(0,195,167,1);}
.sideElementBlockDelete {position:absolute; display:none; top:0; right:0; width:50%; padding-top:50%; height:100%; vertical-align:top; cursor:pointer; background-color:rgba(255, 92, 97,0.8); text-align:center; color:#f8f8f8}
.sideElementBlockInner {position:relative; height:100%; width:100%; display:block;}

.c_side_variant { height: 64px; background:rgba(0,195,167,0.9); border-radius:6px; width:96%; margin:4px !important; display:inline-block; text-align: left; padding: 7px; }
.c_side_variant_name { height: 50px; width:50%; border:none; border-radius:6px; font-size: 32px; }
.c_side_variant_price { height: 50px; width:25%; border:none; border-radius:6px; font-size: 32px; margin-left:6px; text-align:center;}


/* Restaurant editor */

.table_elements {position: relative; width:96%; height: auto; margin-bottom: 10px; display:inline-table;}
.table_elements tr {border-bottom:1px dotted #CCCCCC; min-height:48px;}
.table_elements td:first-child {text-align: left;}
.table_elements td:last-child {text-align: right;}
.table_elements td {min-height:48px; font-size: 16px; height: 48px;}

/* Bulk tables */

.table_bulk {width:100%;}
.table_bulk td {padding: 2px; border-right: dotted 1px #dedede;}
.table_bulk tr {border-bottom:1px solid #AAAAAA;}

.table_active_elem {background-color: lightgreen;}

/* Bulk menu visualize */

.bulk-menu-list {
    display: inline-block; width: 600px; height: auto; text-align: left;
}

.bulk-menu-menu {
    display: block;  padding:4px; font-size: 18px; background-color: #333333;
}

.bulk-menu-section {
    display: block;  padding:4px; padding-left: 48px; font-size: 18px;
}

.bulk-menu-item {
    display: block; padding:4px; padding-left: 96px; font-size: 14px;
}

.item-title {width: 45%;}
.item-price {width: 10%;}
.item-desc {width: 40%;}
.item-delete {width: 5%; background-color: #d9534f; height:20px; color:#FFFFFF; display: inline-block;}


/* Tree Menu Visualize */
.menu-drag-sept {width:100%; height:10px; display: block;}
.menu-drag-sept-over {background-color: #555555; position: relative;}
.menu-drag-sept-over:before {content: '\0020'; width:20px; height:20px; border-radius:10px; background-color:#555555; position:absolute; left:-2px; top:-5px;}
.menu-drag-sept-over:after {content: '\0020;'; width:20px; height:20px; border-radius:10px; background-color:#555555; position:absolute; right:-2px; top:-5px;}

.menu-first-level {display: block; background-color: #ffffff; width:98%; margin:5px 1% 5px 1%; min-height:64px; min-width:700px; }
.menu-first-level label {font-size:20px; font-weight: 100; color:#2d3e50; display: inline-block; padding-left: 5px; margin-top: 8px;}
.menu-first-add {border:1px dashed #A1A6A9; display: block; text-align: center; font-size: 32px; min-height:96px; width:98%; margin:5px 1% 5px 1%; padding-top: 34px; background-color: rgba(211,250,209,0.2);}
.menu-first-level:after {clear: left; content:" "; display: block;
    height:1px; width:100%;}

.menu-second-level {display: block; margin-left: 10%; width: 85%; background-color: #eeeeee; min-height: 32px; margin-bottom:5px;}
.menu-second-level label {font-size:18px; font-weight: 100; color:#2d3e50; display: inline-block; padding-left: 5px; margin-top: 8px;}
.menu-second-add {border:1px dashed #A1A6A9; display: block; text-align: center; font-size: 24px; min-height:64px; margin-left: 10%; width: 85%; margin-bottom:5px; padding-top:18px; background-color: rgba(211,250,209,0.5);}
.menu-second-level:after {clear: left; content:" "; display: block;
    height:1px; width:100%;}

.menu-third-level {display: block; margin-left: 10%; width: 85%; background-color: #dddddd; min-height: 32px; margin-bottom:4px;}
.menu-third-level label {font-size:14px; font-weight: 100; color:#2d3e50; display: inline-block; padding-left: 5px; margin-top: 8px; width:300px;}
.menu-third-price {font-size:14px; font-weight: 300; color:#2d3e50; display: inline-block; padding-left: 5px; margin-top: 8px; width:64px;}
.menu-third-add {border:1px dashed #A1A6A9; display: block; text-align: center; font-size: 14px; min-height:32px; margin-left: 10%; width: 85%; margin-bottom:5px; padding-top: 4px; background-color: rgba(211,250,209,0.5);}


.menu-button-edit {-webkit-appearance: none; border:none; width: 32px; display: inline-block; height: 32px; border-radius:16px; background-color:#b9def0; color:#f8f8f8; font-size:10px; text-align: center; float: right; margin:2px;}
.menu-button-delete {-webkit-appearance: none; border:none; width: 32px; display: inline-block; height: 32px; border-radius:16px; background-color:#ebccd1; color:#f8f8f8; font-size:10px; text-align: center; float: right; margin:2px;}
.menu-button-drag {-webkit-appearance: none; border:none; width: 32px; display: inline-block; height: 32px; border-radius:16px; background-color:#CCCCCC; color:#f8f8f8; font-size:12px; text-align: center; text-align: center; float: left; margin:2px;}
.menu-button-clone {-webkit-appearance: none; border:none; width: 32px; display: inline-block; height: 32px; border-radius:16px; background-color:rgba(211,250,209,0.5);; color:#ababab; font-size:16px; padding-top: 4px; text-align: center; text-align: center; float: right; margin:2px;}

.menu-level-header {display: block; width:100%; padding:10px;}
